/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/site.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@import "components/reset";
@import "compass/css3";
@import "components/footer";
@import "components/header";
@import "components/social";
@import "components/callouts";


.navbar {
  .logo-label {
    font-family: $opensans;
    font-size: 1.3em;
    color: #eee;
    padding-left: 0.5em;
  }
}

h1 { font-size: 3em; }

.featured {
  position: relative;
  background-size: 100%;
  background-position: bottom;
  background-repeat: none;
  height: 700px;
  margin-top: -80px;
  margin-bottom: 2em;
  padding-top: 20px;
  color: #fff;

  header {
    margin: 7% 3% 2% 3%;
    text-align: left;

    h1 {
      font-size: 2em;
      margin-bottom: 0.2em;
      display: inline-block;
      @include single-text-shadow;

      span {
        background-color: $primary-color;
        display: inline-block;
        color: #fff;
        @include border-radius(2px);
        padding: 2px 5px;
        margin: 2px 0;
        font-size: 0.7em;
        text-shadow: none;
        @include single-box-shadow(1px, 1px, 1px, 0);
      }
    }

    h2 {
      font-size: 5em;
      margin-top: 0;
      border-bottom: 1px solid rgba(#fff, 0.2);
      margin-bottom: 0.2em;
      padding-bottom: 0.2em;
      display: inline-block;
      @include single-text-shadow;
    }

    h3 {
      font-size: 3em;
      margin: 0 0 2em 0;
      @include single-text-shadow;

      span {
        background-color: rgba($secondary-color, 0.7);
        text-shadow: none;
        font-size: 0.8em;
        padding: 0.2em 0.4em;
        @include border-radius(0.2em)
      }
    }

    .under-header {
      font-size: 1.3em;
      @include single-text-shadow;

      .social-wrap {
        margin-top: 1em;
      }
    }
  }

  .bar {
    width: 100%;
    background-color: rgba(#000, 0.7);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    padding: 0.5em;

    a {
      color: $primary-color;
      text-decoration: underline;
      @include single-text-shadow;
    }
    a:hover {
      color: $primary-color-hover
    }
  }
}

.media-with-title {
  img {
    @include border-radius;
  }
  h6 {
    font-size: 1.2em;
    color: gray;
  }
}

.homepage {
  .navbar {
    @include opacity(0.5);
    @include transition-property(opacity);
    @include transition-duration(0.5s);
  }
  .navbar:hover {
    @include opacity(0.8);
  }
  .navbar-inverse {
    background-color: #000;
  }
}

.events-list,
.next-events {
  h2 {
    font-size: 1em;
    margin: 0;

    .tag{
      display: inline-block;
      background: $primary-color;
      color: #fff;
      padding: 0.5em 0.3em;
      @include single-text-shadow;
      @include border-radius(2px);

      a { color: #fff }
      a:hover {}
    }

    .date {
      color: gray;
      float: right;
      padding: 0.5em 0;
    }
  }

  h3 {
    margin-top: 0.5em;

    a {
      color: #444;
    }
    a:hover { color: $secondary-color; }

  }
}

.events-list {
  margin-bottom: 2em;
}

.previews {
  text-align: center;

  h5 {
    color: gray;
  }
}

.btn-danger {
  background-color: $primary-color;
}

.social-wrap {
  .button {
    display: inline-block;
    font-size: 1.5em;
  }

  .button.small {
    font-size: 1em;
  }

  .button.primary-color {
    @include background(linear-gradient(to bottom, $primary-color, $primary-color-hover));
  }
}

.user-profile {
  .photo {
    @include border-radius(10em);
  }
}

.navbar .social-wrap {
  .button {
    font-size: 1em;
    color: #fff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.7em;
    @include border-radius(2px);
  }
  .button:after {
    width: 16px;
    height: 16px;
    top: 0.5em;
  }
}

/*** Responsive settings ***/
@media screen and (max-width: 1400px) {
  .featured {
    font-size:0.8em;
    height: 550px;
  }
}
@media screen and (max-width: 1100px) {
  .featured {
    font-size:0.7em;
    height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .featured {
    font-size:0.5em;
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .featured {
    height: 200px;
  }
}
