$opensans: 'Open Sans', sans-serif;
$primary-color: deeppink;
$secondary-color: royalblue;

$default-text-shadow-color: rgba(#000, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

@mixin align-center($margin-x: 0, $margin-y: auto) {
  margin:$margin-x $margin-y;
  text-align: center;
}

