.social-wrap .button {
  background: none;
  border: none;
  display: block;
  background-size: 25px 25px, cover;
  background-position: 10px center, center center;
  background-repeat: no-repeat, repeat;
  border-radius: 8px;
  color: white;
  font-family: $opensans;
  font-size: 14px;
  margin-bottom: 15px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px rgba(gray, 0.5);
  text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
  padding: 0.8em 1em 0.8em 2.2em;
}

.social-wrap {

  .join {
    position: relative;
    @include background(linear-gradient(to bottom, #d32c85, #ff1493));
    padding: 0.8em 1.5em;
  }

  .facebook {
    position: relative;
    @include background(linear-gradient(to bottom, #4c74c4, #3b5998));
    margin-right:1em;
  }

  .facebook:after {
    content: '';
    background: url('/img/facebookf.png');
    background-size: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0.8em;
    left: 0.5em;
  }

  .twitter {
    position: relative;
    @include background(linear-gradient(to bottom, #00aced, #00a9ff));
  }

  .twitter:after {
    content: '';
    background: url('/img/twitterbird.png');
    background-size: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0.8em;
    left: 0.5em;
  }
}
